
:root{
    --skyblue: rgb(114, 177, 236);
}


body{
    background-image: url(pic2.jpg), url(pic1.jpg);
    background-position: 90% 79%, left;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    background-size: 550px 650px , 100% 100%;
    
}



.frame{
    border: 10px solid rgb(255, 255, 255);
    margin: 55px 55px 55px 55px;
    border-radius: 50px;
    padding: 30px 70px;  
}


@media only screen and (max-width: 1200px) {
    body {
        background-image: url(pic1.jpg);
        background-position: right;
        background-repeat:repeat;
        padding: 15px;
        background-size: 100% 100%;
    }

    .frame{
        border: 8px solid rgb(255, 255, 255);
        margin: 30px 30px 30px 30px;
        border-radius: 50px;
        padding: 30px 70px;  
    }
    
}

.float-left{
    float: left;
    /* width: 100%; */
}

.float-right{
    /* border: 1px solid purple; */
    float: right;
    max-width: 300px;
}

.login{
    border: solid var(--skyblue);
    background-color: var(--skyblue);
    border-radius: 15px;
    float: right;
    font-size: 15px;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    margin: 3px;
    /* width: 40%; */
}

.login:hover {
    opacity: 0.8;
}

.title{
    font-size: 450%;
    font-family: sans-serif;
}

.text{
    font-size: 20px;
    color: rgb(68, 60, 60);
}

.box{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-width: 25px;
    width: 60%;
    min-width: 680px;
}

/* .box-input{
    width: 25%;
} */

.input-box{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 2px;
    font-size: 16px;
    color: gray;
    width: 25%;
}

@media only screen and (max-width: 800px) {

    body {
        background-color: yellowgreen;
    }

    .frame{
        /* border: 8px solid rgb(255, 255, 255); */
        /* margin: 30px 30px 30px 30px; */
        /* border-radius: 50px; */
        /* padding: 30px 70px;   */
        border: none;
        /* margin: 30px; */
        padding: 30px;
    }

    .float-right{
        /* border: 1px solid purple; */
        float: right;
        /* max-width: 00px; */
    }

    .login{
        border: solid var(--skyblue);
        background-color: var(--skyblue);
        border-radius: 15px;
        float: right;
        font-size: 15px;
        padding: 10px 25px;
        color: rgb(255, 255, 255);
        margin: 3px;
        width: 54%;
    }

    .box{
        border: 1px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        border-width: 10px;
        /* width: 90%; */
        height: 250px;
        min-width: 300px;
        position: relative;
        /* width: 30%; */
        /* min-width: 1000px; */
    }

    .input-box{
        border: 1px solid rgb(255, 255, 255);
        /* padding: 10px 1px; */
        font-size: 17px;
        color: rgb(125, 125, 125);
        width: 87%;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .search{
        border: solid var(--skyblue);
        background-color: var(--skyblue);
        border-radius: 15px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        position: absolute;
        top: 85%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 70%;
        height: 32%;
    }
}

.icon{
    font-size: 20px;
    width: 3%;
    margin-left: 10px;
}

.search{
    border: solid var(--skyblue);
    background-color: var(--skyblue);
    border-radius: 15px;
    font-size: 20px;
    padding: 20px 45px;
    margin: -15px 5px;
    color: rgb(255, 255, 255);
    float: right;
    font-weight: bold;
}

.search:hover {
    opacity: 0.8;
}

.logo{
    margin-right: 20px;
}

.blur {
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 150vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); 
    padding-top: 60px;
}

.login-page {
    margin: 5% auto 10% auto; 
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--skyblue);
    box-shadow: 5px 5px 5px rgb(141, 168, 194);
    border-radius: 12px;
    width: 380px; 
    /* max-width: 380px;  */
    height: 540px;
    padding: 10px;
    /* width: 22%; */
    min-width: 300px;
}

.close-pos {
    position: relative;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: rgb(0, 0, 0);
    font-size: 33px;
    font-weight: bold;
}
 
.close:hover {
    color: rgb(175, 94, 94);
    cursor: pointer;
}

.container {
    padding: 35px;
}

.login-header{
    font-size: 40px;
    text-align: center;
    margin: 15px;
}


.login-input{
    border: 1px solid rgb(130, 130, 130);
    padding: 10px 2px;
    font-size: 17px;
    color: rgb(130, 130, 130);
    width: 100%;
}

.login-button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-image: linear-gradient(to right, rgb(175, 209, 240), rgb(102, 173, 240));
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
}

.login-button:hover{
    opacity: 0.8;
}

.forget{
    float: left;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: rgb(105, 104, 104);
    line-height: 95%;
}

.decoration:hover{
    text-decoration: underline;
}

.signup-page {
    margin: 2% auto 10% auto; 
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--skyblue);
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgb(141, 168, 194);
    width: 380px;
    height: 680px;
    padding: 10px;
}

.profile{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

